/*
This file is part of Mead Mate.

Mead Mate is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Mead Mate is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Mead Mate.  If not, see <https://www.gnu.org/licenses/>.
*/

body
{
	font-family: Verdana, Geneva, sans-serif;
}

.content-title
{
    font-size: 1.25em;
    margin: 0 0 1em 0;
    line-height: 1.25em;
    text-align: center;

}

dl{
    /*border: 2px solid #333;*/
    padding: 0.5em;
}

dt {
    font-weight: bold;
}

dt::after {
    content: ":";
}

dd {
    font-size: 1.2em;
    margin: 0.25em 0 1em 0;
}

#abv-result {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: block;
}

label.error {
    font-weight: bold;
}

p.button-container
{
    text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem;
  text-align: left;
}

.ui-btn
{
    font-size: 18px;  /* Make button text a touch bigger */
}

.description
{
    white-space: pre-line;
}

hr
{
    border-width: 4px;
    border-style: solid;
    border-radius: 3px;
}

#mead-tags span
{
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 0.25em 0 0;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

#my-meads-navbar
{
  width: 100%;
}

#toggle-archived-meads-button
{
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#toggle-archived-meads-button.ui-btn-active {
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #88888888 /*{a-bup-shadow-color}*/;
}

span.archived
{
    font-style: italic;
}

#tag-tip
{
    display: none;
}

ul.spaced-list li
{
    margin: 0 0 0.5em 0;
    font-size: 1.1em;
}

#mainMenu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mainMenu li
{
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}

a.navbar-last
{
    /* the last nav inherited a 4px margin that threw things off. */
    /* not sure where it came from so I just fixed it here. */
    margin-right: 1px;
}

a.add-button
{
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: 3%;
    bottom: 7%;
    width: 5rem;
    height: 5rem;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
