body
{
	font-family: Verdana, Geneva, sans-serif;
}

.content-title
{
    font-size: 1.25em;
    margin: 0 0 1em 0;
    line-height: 1.25em;
    text-align: center;

}

dl{
    /*border: 2px solid #333;*/
    padding: 0.5em;
}

dt {
    font-weight: bold;
}

dt::after {
    content: ":";
}

dd {
    font-size: 1.2em;
    margin: 0.25em 0 1em 0;
}

#abvResult {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: block;
}

label.error {
    color: #C00;
    font-weight: bold;
}

p.button-container
{
    text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead
{
    background-color: #B5651D;
}

tbody
{
    background-color: #F3CD05;
}

td, th {
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: left;
}

.ui-btn
{
    font-size: 18px;  /* Make button text a touch bigger */
}

.description
{
    white-space: pre-line;
}

hr
{
    border: 4px solid #b5651d;
    border-radius: 3px;
}

#mead-tags span
{
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 0.25em 0 0;
    border-radius: 5px;
    border: 1px solid #B5651D;
    background-color: #F3CD05;
    white-space: nowrap;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

#mead-menu
{
    background-color: #F49F05;
}

#my-meads-navbar
{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 36px;
    width: 100%;
}